<div *ngIf="player" class="nuevoPlayer">
  <h2>{{player.name | uppercase}} Details</h2>
  <form novalidate [formGroup]="group">
    <div class="div">
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="player.name" formControlName="name" placeholder="Name" class="input">
      </mat-form-field><label class="error" *ngIf="group.get('name').hasError('required')&&group.get('name').touched">
        Name Required</label><label class="error"
        *ngIf="group.get('name').hasError('minlength')&&group.get('name').touched">
        Name too short</label><label class="error"
        *ngIf="group.get('name').hasError('maxlength')&&group.get('name').touched">
        Name too long</label>
    </div>
    <div class="div">
      <mat-form-field>
        <input matInput type="number" [(ngModel)]="player.dorsal" formControlName="dorsal" placeholder="Dorsal"
          class="input">
      </mat-form-field><label class="error"
        *ngIf="group.get('dorsal').hasError('required')&&group.get('dorsal').touched">
        Dorsal Required</label><label class="error"
        *ngIf="group.get('dorsal').hasError('pattern')&&group.get('dorsal').touched">
        Dorsal too long, 2 digit max.</label>
    </div>
    <label class="texto">Position:</label>
    <mat-radio-group [(ngModel)]="player.position" [ngModelOptions]="{standalone: true}" class="radio">
      <mat-radio-button *ngFor="let posicion of posiciones" name="opciones" [value]="posicion" class="pos">
        {{posicion}}
      </mat-radio-button>
    </mat-radio-group>
  </form>
  <div class="botones">
    <form novalidate (ngSubmit)="save()" [formGroup]="group">
      <button type="submit" [disabled]="group.invalid">Save</button>
    </form>

    <button (click)="goBack()">Go back</button>
  </div>
</div>