<div *ngIf="player" class="nuevoPlayer">
  <h2>{{player.name | uppercase}} Details</h2>
  <table>
    <tr>
      <td><label class="texto">Name: </label></td>
      <td>
        <input #playerName [(ngModel)]="player.name" class="input" required/>
      </td>
    </tr>
    <tr>
      <td><label class="texto">Dorsal:</label></td>
      <td><input #playerDorsal [(ngModel)]="player.dorsal" class="input" required/></td>
    </tr>
    <tr>
      <td><label class="texto">Postion:</label></td>
      <td>
        <input type="radio" value="Portero" checked="true" [(ngModel)]="player.position"
         > Portero <br>
        <input type="radio" value="Defensa" [(ngModel)]="player.position"> Defensa <br>
        <input type="radio" value="Medio" [(ngModel)]="player.position" >
        Medio <br>
        <input type="radio" value="Delantero" [(ngModel)]="player.position">
        Delantero<br>
      </td>
    </tr>
  </table>
  <div class="botones">
    <button (click)="save(playerDorsal.value, playerName.value)">Save</button>
    <button (click)="goBack()">Go back</button>
  </div>
</div>