<img class="logo" src="assets/img/logo.png">
<mat-drawer-container>
    <mat-drawer-content>
        <h1 class="titulo">Noticias</h1>
        <div class="noticias">
            <mat-grid-list class="grid" cols="{{breakpoint}}" rowHeight="{{altura}}" (window:resize)="onResize($event)">
                <div *ngFor="let noticia of noticias">
                    <mat-grid-tile>
                        <a class="noticia" routerLink="/detalle/{{noticia.id}}">
                            <table>
                                <tr>
                                    <h5><strong>{{noticia.titulo}}</strong></h5>
                                </tr>
                                <tr>
                                    <img class="img" src="{{noticia.imagen}}">
                                </tr>
                                <tr> <span>{{noticia.resumen}}</span></tr>
                            </table>
                        </a>
                    </mat-grid-tile>
                </div>
            </mat-grid-list>
        </div>
        <div class="boton">
            <button mat-raised-button (click)="cargarMas()">Cargar más</button>
        </div>
    </mat-drawer-content>
    <mat-drawer class="side" mode="side" position="end" opened>
        <div class="import" *ngFor="let importante of importantes">
            <a routerLink="">
                <table>
                    <tr>
                        <h6>{{importante.titulo}}</h6>
                    </tr>
                    <tr>
                        <img class="imgIm" src="{{importante.imagen}}">
                    </tr>
                </table>
            </a>
        </div>
    </mat-drawer>
</mat-drawer-container>