.noticia {
    text-align: center;
    padding: 10%;
}

img {
    width: 80%;
    padding: 2%;
}

.logo {
    width: 100%;
    padding: 0;
}

.grid {
    margin-left: 2%;
    margin-right: 2%;
}

.titulo {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

h5 {
    font-size: 150%;
}

span {
    font-size: 100%;
}

.side {
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 17%;
    align-content: center;
}

.import a {
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
}

.import img {
    width: 70%;
}

.boton {
    text-align: center;
    margin-bottom: 5%;
}

h6 {
    margin: 2%;
}

@media (max-width: 1150px) {
    .side {
        width: 20%;
    }
    h6 {
        font-size: 80%;
    }
}

@media (max-width: 415px) {
    .side {
        width: 30%;
    }
    h6 {
        font-size: 70%;
    }
    h5 {
        font-size: 100%;
    }
    .noticia {
        padding: 0%;
    }
}