.players {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
    float: none;
  }
  .players li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #FF33B8;
    margin: .5em;
    padding: .3em 0;
    height: 3em;
    width: 17em;
    border-radius: 6px;
  }
  .players li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .players li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .players li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .players a {
    color: #333;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
  }
  .players a:hover {
    color:#607D8B;
  }
  .players .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  .newPlayer{
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
  }
.todo{
  margin-left: 40%;
}
.padre{
  position: relative;
  display: inline-block;
}
.image{
  height: 18%;
  width: 18%;
}
.texto{
  position: absolute;
  left: 4.5%;
  top: 30%;
  width: 9%;
  text-align: center;
}
.nombre{
  position: absolute;
  text-align: center;
  width: 50%;
  right: 20%;
  top: 30%;
}
.delete{
    background-color: transparent !important;
    color: white;
  width: 100%;
  height: 100%;
  float: right;
}
.divDelete{
  position: absolute;
  width: 15%;
  height: 60%;
  top: 20%;
  right: 5%;
}
h3{
  color: #FF3352;
}