.info{
    width: 49%;
    float: right;
    text-align: center;
    padding: 0.5%;
  }
  .mensajes{
    width: 20%;
    float: left;
    margin-left: 10%;
  }
  footer{
    position: fixed;
    bottom: 0;
    width: 90%;
    margin-right: 30px;
    background:lightseagreen;
  }
  p{
    margin-bottom: 0;
    margin-top: 2px;
  }
  .fa {
    font-size:36px;
  }
  footer{
    padding: 0.5%;
    margin-left: 2%;
    margin-right: 2%;
  }