/* AppComponent's private CSS styles */
h1 {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  .navigationBar {
    border-style: solid;
    background-color: #405061;
    border-radius: 10px;
    margin-top: 1.5%;
  }
  header,body{
    margin-left: 2%;
    margin-right: 2%;
  }
  .search{
    float: right;
    margin-right: 8em;
    align-content: center;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li{
    float: left;
  }
  li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
  }
  .b a:hover{
    background-color: gray;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
  }
  .a a:hover{
    background-color: gray;
  }
  .search2{
    float: right;
  }
  .router-outlet{
    display: block;
    position: relative;
  }
  .app-footer{
   position: absolute;
   bottom: 0;
   width: 100%;
   height: auto;
  }