<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    <nav class="navigationBar">
        <ul>
            <li class="b">
                <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="a">
                <a routerLink="/players">Players</a>
            </li>
            <li class="search2">
                <app-player-search class="search"></app-player-search>
            </li>
        </ul>
    </nav>
</header>
<div class="router-outlet">
    <router-outlet></router-outlet>
</div>
<div class="app-footer">
    <app-footer></app-footer>
</div>