<img class="decoracion" src="assets/img/decoracion.jpg">

<table>
    <tr>
        <td>
            <div class="about">
                <h1>About us</h1>
                <span>Somos un bar de juegos localizado en el centro de Vigo, nuestro eslogan es "Un punto desde el que empezar la noche".
                    Nos caracterizamos por ofrecer una serie de eventos para la diversión
                    juvenil cuando se encuentran de fiesta. Entre los eventos que ofrecemos
                    están juegos y competeciones que involucran bebidas alcoholicas,
                    la más famosa en nuestro local es el Beer-pong. Además de estos juegos con bebidas alcoholicas
                    también ofrecemos juegos de mesa, juegos como el billar y los dardos, etc. (Para más información
                    sobre lo que se ofrece en este local visite la pestaña de Catalogo en el menú de navegación).
                </span>
            </div>
        </td>
        <td> <img class="imagen1" src="assets/img/about.jpg"></td>
    </tr>
    <tr>
        <td><img class="imagen2" src="assets/img/alcohol.png"></td>
        <td>
            <div class="socios">
                <h1>De donde surgió la idea</h1>
                <span>Este bar para el disfrute de los jóvenes surge a partir de la idea de un bar donde no solo
                    se pudieran divertir los que beben alcohol o al contrario, la primera idea surge para crear un
                    local que tuviera espacio para juegos más tranquilos como los juegos de mesa y otro espacio
                    para juegos de carácter más ruidoso y activo. Además, queriamos aportar un lugar que el consumo
                    de alcohol a los jovenes estuviera controlado, dentro de lo posible, ya que al proporcionar nosotros
                    las bebidas para los juegos, podemos tener un mayor control sobre la cantidad de alcohol que
                    consumen
                    los participantes de los juegos y asegurar dentro de lo posible un mayor consumo responsable, en
                    comparación de
                    otros posibles establecimientos que sirven copas mientras los clientes paguen sin llevar ningún tipo
                    de control
                    mientras no den problemas.
                </span>
            </div>
        </td>
    </tr>
</table>

<div class="movil">
    <div class="about">
        <h1>About us</h1>
        <span>Somos un bar de juegos localizado en el centro de Vigo.
            Nos caracterizamos por ofrecer una serie de eventos para la diversión
            juvenil cuando se encuentran de fiesta. Entre los eventos que ofrecemos
            están juegos y competeciones que involucran bebidas alcoholicas,
            la más famosa en nuestro local es el Beer-pong. Además de estos juegos con bebidas alcoholicas
            también ofrecemos juegos de mesa, juegos como el billar y los dardos, etc. (Para más información
            sobre lo que se ofrece en este local visite la pestaña de Catalogo en el menú de navegación).
        </span>
        <img class="imagen1" src="assets/img/about.jpg">
    </div>
    <div class="socios">
        <h1>De donde surgió la idea</h1>
        <span>Este bar para el disfrute de los jóvenes surge a partir de la idea de un bar donde no solo
            se pudieran divertir los que beben alcohol o al contrario, la primera idea surge para crear un
            local que tuviera espacio para juegos más tranquilos como los juegos de mesa y otro espacio
            para juegos de carácter más ruidoso y activo. Además, queriamos aportar un lugar que el consumo
            de alcohol a los jovenes estuviera controlado, dentro de lo posible, ya que al proporcionar nosotros
            las bebidas para los juegos, podemos tener un mayor control sobre la cantidad de alcohol que
            consumen
            los participantes de los juegos y asegurar dentro de lo posible un mayor consumo responsable, en
            comparación de
            otros posibles establecimientos que sirven copas mientras los clientes paguen sin llevar ningún tipo
            de control
            mientras no den problemas.
        </span>
    </div>
    <img class="imagen3" src="assets/img/alcohol.png">
</div>


<div class="redes">
    <h1>Redes Sociales</h1>
    <a href="https://es-es.facebook.com/"><img class="facebook" src="assets/img/facebook.png"></a>
    <a href="https://twitter.com/?lang=es"><img class="twitter" src="assets/img/twitter.png"></a>
    <a href="https://www.instagram.com/?hl=es"><img class="instagram" src="assets/img/instagram.png"></a>
</div>