<div class="home">
    <h1>Bienvenidos a mi Team Builder</h1>
    <p>Este es la página de Team Builder con los mejores colores de la historia, no lo digo yo lo dicen las
        estadísticas. En
        esta página podrás realizar un listado de jugadores con sus dorsales y posiciones. Existen dos formas distintas
        de
        mostrar a los jugadores, una es una lista de jugadores con sus dorsales (pestaña Players) y la otra son
        camisetas
        con los nombres de los jugadores (pestaña Dashboard). En ambas formas de visualizar los jugadores, solo con
        hacer
        click sobre alguno de ellos se mostrarán los detalles del jugador y se podrá modificar dicho jugador.</p>
</div>