<mat-grid-list cols="6" rowHeight="1:0.7">
    <mat-grid-tile class="x">

    </mat-grid-tile>
    <mat-grid-tile>
        <table>
            <tr>
                <img class="map" src="assets/img/chincheta.png">
            </tr>
            <tr>
                <p>Vigo, Galicia - Rúa do Areal número 12 - Código Postal 36201</p>
            </tr>
        </table>
    </mat-grid-tile>
    <mat-grid-tile>
        <table>
            <tr>
                <img class="email" src="assets/img/mail.png">
            </tr>
            <tr>
                <span>zeroBarVigo@gmail.com</span>
            </tr>
        </table>
    </mat-grid-tile>
    <mat-grid-tile>
        <table>
            <tr>
                <img class="telefono" src="assets/img/telefono.png">
            </tr>
            <tr>
                <span>986355051</span>
            </tr>
        </table>
    </mat-grid-tile>
    <mat-grid-tile>
        <table>
            <tr>
                <a href="https://es-es.facebook.com/"><img class="facebook" src="assets/img/facebook.png"></a>
                <a href="https://www.instagram.com/?hl=es"><img class="instagram" src="assets/img/instagram.png"></a>
                <a href="https://twitter.com/?lang=es"><img class="twitter" src="assets/img/twitter.png"></a>
            </tr>
            <tr>
                <span class="s">No dudes en seguirnos en nuestras redes sociales para estar al tanto de cualquier noticia o información que publiquemos.</span>
            </tr>
        </table>
    </mat-grid-tile>
    <mat-grid-tile class="x">

    </mat-grid-tile>
</mat-grid-list>