.decoracion{
    width: 100%;
    height: 50%;
}
.about{
    margin-top: 4%;
    margin-left: 15%;
    text-align: justify;
    font-size: 20px;
}
.socios h1, .redes h1, .about h1{
    text-align: center;
    font-family: woodland;
    color: #5c330a;
    font-size: 60px;
}
.socios{
    margin-top: 4%;
    margin-left: 0%;
    margin-right: 10%;
    text-align: justify;
    font-size: 20px;
}
.imagen1{
    width: 70%;
   margin-left: 15%;
   margin-top: 5%;
}
td{
    width: 50%;
}
.imagen2{
    width: 60%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 20%;
}
.facebook{
    width: 10%;
    margin-left: 32%;
}
.twitter{
    width: 15%;
}
.instagram{
    width: 10%;
}
.redes {
    margin-top: 4%;
    margin-left: 2%;
}
.movil{
    display: none;
}
@media (max-width: 415px){
    table{
        display: none;
    }
    .movil{
        display: block;
    }
    .imagen1 {
        margin-top: 10%;
        margin-left: 10%;
    }
    .imagen3{
        width: 70%;
        margin-top: 5%;
        margin-bottom: 10%;
        margin-left: 15%;
    }
    .socios, .redes, .about{
        text-align: justify;
        font-size: 15px;
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 10%;
    }
    .socios h1, .redes h1, .about h1{
        font-size: 30px;
    }
    .facebook{
        width: 19%;
        margin-left: 17%;
    }
    .twitter{
        width: 29%;
    }
    .instagram{
        width: 19%;
    }
}
@media (max-width: 1150px){
    .aboutImg {
        margin-top: 25%;
        margin-bottom: 20%;
        width: 80%;
    }
    .imagen2 {
        width: 70%;
        margin-top: 40%;
        margin-bottom: 30%;
        margin-left: 15%;
    }
    .socios h1, .redes h1, .about h1{
    font-size: 40px;
    }
    .socios, .redes, .about{
    font-size: 15px;
    }
    
}