/* AppComponent's private CSS styles */
h1 {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  header{
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
  }
  .search{
    position: relative;
    margin-left: 50%;
    align-content: center;
    margin-top: 0.25%;
  }
  .router-outlet{
    margin-top: 2%;
    display: block;
    position: static;
    margin-bottom: 5%;
  }
  footer{
  position: absolute;
  display: block;
   bottom: 0;
   width: 100%;
  }
  .tab {
    background-color:  #33B8FF;
  }
  .tab a{
    color: black;
  }
  .tab a:hover{
    background-color: #3352FF;
  }
  nav {
    margin-top: 1%;
    position: relative;
    height: 3em;
  }
  body{
    height: 60%;
    position: relative;
  }
  app-footer{
    width: 100%;
    bottom: 0;
    margin-bottom: 0%;
    display: block;
    position: static;
  }