
  p{
    margin-bottom: 0;
    margin-top: 4px;
  }
  .fa {
    font-size:36px;
  }
  .divDdiv{
    width: 100%;
  }
  .info{
    background-color: gray;
    text-align: right;
    padding: 1%;
    padding-right: 2%;
  }