<img class="cabecera" src="assets/img/eventos.png">
<div class="catalogo">
    <mat-grid-list class="grid" cols="1" rowHeight="{{altura}}">
        <div *ngFor="let catalogo of catalogos">
            <mat-grid-tile>
                <img src="{{catalogo.imagen}}">
                <span class="s"><strong>{{catalogo.nombre}}:</strong></span>
                <div class="aux">
                    <span>{{catalogo.resumen}}</span>
                    <span>Precio: {{catalogo.precio}}</span>
                </div>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
</div>