.cabecera {
    width: 100%;
}

img {
    width: 20%;
}

.s {
    margin-right: 2%;
    margin-left: 2%;
}

.aux {
    width: 20%;
}

@media (max-width: 1150px) {
    .aux {
        width: 40%;
    }
    .s {
        margin-right: 4%;
        margin-left: 4%;
    }
}

@media (max-width:415px) {
    .s {
        width: 20%;
        margin-right: 5%;
    }
}